#quadro {
    background: #ccc;
    border:1px dotted;
    width: 90%;
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#iframepdf {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}